.gameCard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 1fr 0.1fr;
  justify-content: center;
  border: 1px solid #d1c1b3;
  padding: 20px;
}

.gameCard figure figcaption {
  text-align: center;
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.gameCard figure img {
  width: 95%;
  margin: 0 auto;
}

.gameCard button-login {
}
