.userInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #d1c1b3;
    border-top: none;
    padding: 0 20% 20px;
}

.userInfo .labels {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.userInfo .info {
    display: flex;
    flex-direction: column;
}

.userInfo .buttons {
    grid-column: 1/3;
}