@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    90deg,
    #d1c1b3 25%,
    #308594 25%,
    #308594 65%,
    #d1c1b3 65%,
    #d1c1b3 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Games pages styles */
.gamePageContent {
  display: flex;
  flex-direction: row;
}

/* Styles for Card Game */

.cardGame {
  transition: transform 1s;
  transform-style: flat;
}

.card .cardContent {
  width: 95%;
  margin: 20px auto 30px;
  text-align: center;
}

.card img {
  width: 95%;
  margin: 0 auto;
}

.cardGame .cardContent {
  margin-bottom: 0;
}

.cardContent .transcriptedWord {
  margin-top: 5px;
  font-size: larger;
}

/* Styles for Enter Translation */
.enterGame input {
  margin-top: 20px;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid grey;
}

.wrongAnswer {
  border: 3px solid red;
}

.rightAnswer {
  border: 5px solid green;
}

.answerImg {
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
}

.wrongAnswer img {
  width: 460px;
  margin-left: -230px;
}

.rightAnswer img {
  width: 460px;
}

/* One Game stats styles */
.oneGameStat {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.gameResult {
  text-align: center;
  border: 1px solid #d1c1b3;
  border-bottom: none;
}

.gameResult h2 {
  margin: 10px;
}

.answerList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #d1c1b3;
  border-top: none;
  padding: 5px 70px;
}

.rightAnswers {
  width: 45%;
  padding: 5px;
}

.rightAnswers .word {
  color: #548c2f;
  font-weight: 700;
}

.wrongAnswers {
  width: 45%;
  padding: 5px;
}

.wrongAnswers .word {
  color: #723d46;
  font-weight: 700;
}

/* Card Game results page */
.resultsContainer {
  background-color: white;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.cardGameResults {
  border: 1px solid #d1c1b3;
  padding: 20px;
}

/* Games List page styles */

.gamesListPage {
  width: 90%;
  margin: 20px auto;
  background-color: white;
  padding: 40px;
}
.gamesListPage h2 {
  display: block;
  border: 1px solid #d1c1b3;
  border-bottom: none;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.gamesList {
  border: 1px solid #d1c1b3;
  padding: 20px;
  border-top: none;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: max-content;
}

/* Choose one game styles */

.chooseOneGame .buttons {
  margin: 0px;
}

.chooseOneGame img {
  width: 60%;
}

.answersRadio {
  width: 90%;
  padding: 10px;
}

.answersRadio .field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid #d1c1b3;
}

.answersRadio .field:hover {
  background-color: #d1c1b3;
  color: white;
}

.answersRadio .field label {
  display: block;
  width: max-content;
  padding: 5px;
  line-height: 14px;
}

.answersRadio .field input {
  width: max-content;
}

/* Build a Word game styles */
.buildWordGame img {
  width: 60%;
}

.buildWordGame .field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buildWordGame .field__label {
  width: 100%;
}

.buildWordGame .field__input {
  width: 80%;
  margin: 10px auto;
  padding: 5px;
  border-bottom: 1px solid black;
}

.lettersSet {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.lettersSet .btn {
  padding: 10px;
  margin: 0;
}

.buildWordGame .btn-login {
  margin-bottom: 0;
}

.buildWordGame .buttons {
  margin: 5px;
}
